<!DOCTYPE html>
<html>
  <head>
    <title>CockroachZilla</title>
    <meta name="description" content="A cool thing made with HyperDev" />

    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/public/style.css" />
    <link
      id="favicon"
      rel="icon"
      href="https://hyperdev.com/favicon-app.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/public/style.css" />
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar-menu"
        aria-controls="navbarTogglerDemo03"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#"><i class="fa fa-bug"></i> CockroachZilla</a>
      <div class="collapse navbar-collapse" id="navbar-menu">
        <button
          class="btn btn-outline-success my-2 my-sm-0"
          data-toggle="modal"
          data-target="#createIssueModal"
        >
          New Issue
        </button>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <% if (user) { %>
            <a class="nav-link" href="#"
              >Hello, <span id="username"><%= user %></span></a
            >
            <% } %>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/logout">Logout </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Modal -->
    <div
      class="modal fade"
      id="createIssueModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create issue</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="testForm">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="issue_title"
                  placeholder="*Title"
                  required=""
                />
              </div>
              <div class="form-group">
                <textarea
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="3"
                  type="text"
                  name="issue_text"
                  placeholder="*Text"
                  required=""
                ></textarea>
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  name="created_by"
                  placeholder="*Created by"
                  required=""
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  name="assigned_to"
                  placeholder="(opt)Assigned to"
                  required=""
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  name="status_text"
                  placeholder="(opt)Status text"
                  required=""
                />
              </div>

              <button type="submit" class="btn btn-primary">
                Submit Issue
              </button>
            </form>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
    <!-- end modal - create issue-->
    <header>
  
    </header>

    
    <div id="issueDisplay" class="mt-3"></div>

    <script
      src="https://code.jquery.com/jquery-2.2.1.min.js"
      integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
      crossorigin="anonymous"
    ></script>
    <script>
      $(function() {
        var currentProject = "apitest";

        $("#testForm").submit(function(e) {
          $.ajax({
            url: "/api/issues/apitest",
            type: "post",
            data: $("#testForm").serialize(),
            success: function(data) {
              $("#jsonResult").text(JSON.stringify(data));
              $(function() {
                $("#createIssueModal .close").click();
              });
            },
          });
          e.preventDefault();
        });
        $("#testForm2").submit(function(e) {
          $.ajax({
            url: "/api/issues/apitest",
            type: "put",
            data: $("#testForm2").serialize(),
            success: function(data) {
              $("#jsonResult").text(JSON.stringify(data));
            },
          });
          e.preventDefault();
        });
        $("#testForm3").submit(function(e) {
          $.ajax({
            url: "/api/issues/apitest",
            type: "delete",
            data: $("#testForm3").serialize(),
            success: function(data) {
              $("#jsonResult").text(JSON.stringify(data));
            },
          });
          e.preventDefault();
        });

        var url = "/api/issues/" + currentProject;
        $("#projectTitle").text("All issues for: " + currentProject);
        $.ajax({
          type: "GET",
          url: url,
          success: function(data) {
            var issues = [];
            data.forEach(function(ele) {
              console.log(ele);
              var openstatus;
              ele.open ? (openstatus = "open") : (openstatus = "closed");
              var single = [
                `<div class="card ${openstatus} my-2 mx-5 p-2">
        <div class="card-header">
          ${ele.issue_title} <span class="badge badge-warning">${ele.status_text}</span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-8">
              <p class="card-text">
               ${ele.issue_text}
              </p>
            </div>
            <div class="col-sm-4 highlight p-2 border border-secondary">
              <p class=" card-text id">Id: ${ele._id}</p>
              <p class="card-text id"><b>Created by:</b> ${ele.created_by}</p>
              <p class="card-text id"><b>Assigned to:</b> ${ele.assigned_to}</p>
              <p class="card-text id">
                <b>Created on:</b> ${ele.created_on}
              </p>
              <p class="card-text id">
                <b>Last updated:</b> ${ele.updated_on}
              </p>
            </div>
          </div>
        </div>
        <div class="card-footer text-muted">
            <a href="#" class="btn btn-primary closeIssue mx-2" id="${ele._id}">Close</a>
            <a href="#" class="btn btn-danger deleteIssue mx-2" id="${ele._id}">Delete</a>
          </div>
      </div>`,
              ];
              issues.push(single.join(""));
            });
            $("#issueDisplay").html(issues.join(""));
          },
        });

        $("#newIssue").submit(function(e) {
          e.preventDefault();
          $(this).attr("action", "/api/issues/" + currentProject);
          $.ajax({
            type: "POST",
            url: url,
            data: $(this).serialize(),
            success: function(data) {
              window.location.reload(true);
            },
          });
        });

        $("#issueDisplay").on("click", ".closeIssue", function(e) {
          var url = "/api/issues/" + currentProject;
          $.ajax({
            type: "PUT",
            url: url,
            data: { _id: $(this).attr("id"), open: false },
            success: function(data) {
              window.location.reload(true);
            },
          });
          e.preventDefault();
        });
        $("#issueDisplay").on("click", ".deleteIssue", function(e) {
          var url = "/api/issues/" + currentProject;
          $.ajax({
            type: "DELETE",
            url: url,
            data: { _id: $(this).attr("id") },
            success: function(data) {
              window.location.reload(true);
            },
          });
          e.preventDefault();
        });
      });
    </script>
  </body>
</html>
